.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the start */
  align-items: center;
  height: 50vh;
  margin-top: 0px;
  margin-bottom: 0px; /* Remove bottom margin of paragraph */
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the start */
  align-items: center;
  height: 50vh;
  margin-top: 180px;
  margin-bottom: 0px; /* Remove bottom margin of paragraph */
}

.middle p {
  margin: 5; /* Reset margin of paragraph */
  margin-top: 10px;
  margin-bottom: 0;
  font-size: '28pt';
}

.middle img {
  width: 20%;
  height: auto;
  margin-bottom: 20px; /* Add margin to the bottom of the image */
}

.middle h1 {
  font-family: 'Sk-Modernist';
  font-size: '38pt';
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px; /* Gap between images */
  margin-top: 5px; /* Adjust margin-top as needed */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 100vh; /* Set height to full viewport height */
}

.button {
  font-family: 'Sk-Modernist';
  font-size: 25px; /* Adjust button font size */
  padding: 10px 20px; /* Adjust the padding as needed */
  width: auto; /* Ensure button width adjusts based on content */
}


.grid-item {
  width: 100%; /* Ensure images fill the grid cell */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; 
}
.button-group {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons */
}


.map-grid {
  display: flex;
  margin-top: 10px;
}

#map {
  flex: 1; /* Make the map fill remaining space */
  height: 800px;
  margin-left: 5px;
}

.map-text {
  width: 50%; /* Set width of the text column */
  margin-left: 20px; /* Add margin to create space between the map and the heading */
  margin-top: 0px;
  font-family: 'Sk-Modernist'; /* Apply custom font */
  font-size: 15pt; 
  padding-right: 20px;
}

.route-text {
  width: 30%; /* Set width of the text column */
  margin-left: 20px; /* Add margin to create space between the map and the heading */
  font-family: 'Sk-Modernist'; /* Apply custom font */
  font-size: 30pt; 
  padding-right: 20px;
}

#text {
  font-family: 'Sk-Modernist'; /* Apply custom font */
  font-size: 15pt; 
  padding-right: 20px;
}
.about-grid {
  display: flex;
  margin-left: 10px;
  height: 100vh; /* Set height of container to full viewport height */

}

.about-text {
  flex: 1; /* Let the text container take up remaining space */
  padding: 20px; 
  font-family: 'Sk-Modernist'; 
  font-size: 27px;
}

.about-image {
  width: auto; /* Allow the image width to adjust automatically */
  height: 100%; /* Make the image fill the container vertically */
}


