.centered {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items towards the start */
  align-items: center;
  height: 50vh;
  margin-bottom: 0px; /* Remove bottom margin of paragraph */
}

.centered p {
  margin: 5; /* Reset margin of paragraph */
  margin-bottom: 0;
  font-size: '28pt';
}

.centered img {
  width: 20%;
  height: auto;
  margin-bottom: 20px; /* Add margin to the bottom of the image */
}

.centered h1 {
  font-family: 'Sk-Modernist';
  font-size: '34pt';
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px; /* Gap between images */
  margin-top: 5px; /* Adjust margin-top as needed */
  margin-left: 10px;
  margin-right: 10px
}

.grid-item {
  width: 100%; /* Ensure images fill the grid cell */
  height: auto; /* Maintain aspect ratio */
}

.button {
  font-family: 'Sk-Modernist';
  font-size: '28pt';
  padding: 10px 20px; /* Adjust the padding as needed */
  width: auto; /* Ensure button width adjusts based on content */
}